<html>
<head>
    <title>Forside</title>
    <link href="~/css/Forside.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div style="max-width: 100%; max-height: 100%;">
        <div>
            <div class="banner">
                <img class="banner-img" src="~/Gamechanger billedmateriale/Slidebanner/banner_assasins_creed_2.jpg" alt="Assains creed 2" />
                <div class="banner-textblok">
                    <div class="banner-textblok-textbox">
                        <h4>ASSASINS CREED</h4>
                        <p>
                            It depicts a centuries-old struggle, now and then, between
                            the Assassins, who fight for peace with free will, and the Templars,
                            who desire peace through control.
                        </p>
                        <img class="banner-textblok-textbox-img" src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-atea">
            <div class="container">
                <div class="row">
                    <div>
                        <table class="spilthumbs">
                            <tr>
                                <td>
                                    <div>
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                                        <div>
                                            <p>Splinter Cell: Black List</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                                        <div>
                                            <p class="spilthumbs-textbox">Grand Theft Auto V</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                                        <div>
                                            <p>Call of Duty: Ghosts</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_forza4.jpg" />
                                        <div>
                                            <p>Forza Motorsport 4</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                                        <div>
                                            <p>Red Dead Redemprion</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_halo4.jpg" />
                                        <div>
                                            <p>Halo 4</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="Seneste-trailer">
                            <table class="table" style="max-width:100%">
                                <thead class="head-colum">
                                    <tr>
                                        <th class="arrow" style="vertical-align:middle;">
                                            <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                        </th>
                                        <th class="anmeldelser-th-size">
                                            Seneste trailer
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <iframe class="video" style="width: 100%;" src="https://www.youtube.com/embed/4A05AnPSC6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h3>hej med dig</h3>
                            <p>
                                hejsaddddddd ddddd dddddd dddd dddddd dddddddd
                                assss ss sssssss ssssss ssss sssssss ss sssssss
                                ads ddddd ddd dddd ddddddddd ddddddd
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="new-anmeldelses-side">
                            <table class="table" style="max-width:100%">
                                <thead class="head-colum">
                                    <tr>
                                        <th class="arrow" style="vertical-align:middle;">
                                            <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                        </th>
                                        <th class="anmeldelser-th-size">
                                            Mest Populære Spil
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="nye-anmeldelser">
                                <tr>
                                    <td class="Anmeldelse-pic-size">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                                    </td>
                                    <td style="padding:2%;">
                                        <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Reviews" })">
                                            <span class="anmeldse-title"> <strong>Splinter cell: blacklist</strong></span>
                                        </a>
                                        <p class="time-written-size"> oprettet: 6. Juni 2020</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Anmeldelse-pic-size gray-bagrund">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                                    </td>
                                    <td style="padding:2%;" class=" gray-bagrund">
                                        <a href="@Url.Action("Reviewgtav", null, new { area = string.Empty, controller = "Reviews" })">
                                            <span class="anmeldse-title"> <strong>Grand Theft Auto V</strong></span>
                                        </a>
                                        <p class="time-written-size"> oprettet: 5. Juni 2020</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Anmeldelse-pic-size">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                                    </td>
                                    <td style="padding:2%;">
                                        <a href="@Url.Action("ReviewCallOfDuty", null, new { area = string.Empty, controller = "Reviews" })">
                                            <span class="anmeldse-title"> <strong>Call Of Duty: Ghosts</strong></span>
                                        </a>
                                        <p class="time-written-size"> oprettet: 4. Juni 2020</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Anmeldelse-pic-size gray-bagrund">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" />
                                    </td>
                                    <td style="padding:2%;" class="gray-bagrund">
                                        <a href="@Url.Action("ReviewTitanfall", null, new { area = string.Empty, controller = "Reviews" })">
                                            <span class="anmeldse-title"> <strong>Titanfall</strong></span>
                                        </a>
                                        <p class="time-written-size"> oprettet: 1. Juni 2020</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Anmeldelse-pic-size">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                                    </td>
                                    <td style="padding:2%;">
                                        <a href="@Url.Action("ReviewRedDeadRedemption", null, new { area = string.Empty, controller = "Reviews" })">
                                            <span class="anmeldse-title"> <strong>Red Dead Redemption</strong></span>
                                        </a>
                                        <p class="time-written-size"> oprettet: 28. maj 2020</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="Anmeldelse-pic-size gray-bagrund">
                                        <img src="~/Gamechanger billedmateriale/Thumbs/thumb_fifa_2014.jpg" />
                                    </td>
                                    <td style="padding:2%;" class="gray-bagrund">
                                        <a href="@Url.Action("ReviewFifa14", null, new { area = string.Empty, controller = "Reviews" })">
                                            <span class="anmeldse-title"> <strong>Fifa 14</strong></span>
                                        </a>
                                        <p class="time-written-size"> oprettet: 25. maj 2020</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <table class="table" style="max-width:100%">
                            <thead class="head-colum">
                                <tr>
                                    <th class="arrow" style="vertical-align:middle;">
                                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                    </th>
                                    <th class="anmeldelser-th-size">
                                        Seneste trailer
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <img style="width: 100%;" src="~/Gamechanger billedmateriale/Anmeldelser/red_dead_redemption.jpg.png" />
                        <h3>hej</h3>
                        <p>hej</p>
                    </div>
                    <div class="col-sm-4">
                        <table class="table" style="max-width:100%">
                            <thead class="head-colum">
                                <tr>
                                    <th class="arrow" style="vertical-align:middle;">
                                        <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                    </th>
                                    <th class="anmeldelser-th-size">
                                        Seneste trailer
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <img style="width: 100%;" src="~/Gamechanger billedmateriale/Forside/article_gamer.jpg" />
                        <h3>hej</h3>
                        <p>hej</p>
                    </div>
                    <div class="col-sm-4">
                        <table class="table" style="max-width:100%">
                            <thead class="head-colum">
                                <tr>
                                    <th class="arrow" style="vertical-align:middle;">
                                        <img style="width: 100%;" src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                    </th>
                                    <th class="anmeldelser-th-size">
                                        Seneste trailer
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <img style="width: 100%;" src="~/Gamechanger billedmateriale/Forside/article_membership.png" />
                        <h3>hej</h3>
                        <p>hej</p>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <p>GameChanger website | <a href="#">Kontakt@gmaechanger.local</a> | <a href="#">www.gamechanger.local</a></p>
            </footer>
            @*<div style="width: 100%; position: absolute;">
            <div class="Seneste-trailer">
                <p></p>
                <iframe style="width: 100%;" src="https://www.youtube.com/embed/4A05AnPSC6g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3></h3>
                <p> hej</p>
            </div>
            <div class="new-anmeldelses-side">
                <table class="table" style="max-width:100%">
                    <thead class="head-colum">
                        <tr>
                            <th class="arrow" style="vertical-align:middle;">
                                <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                            </th>
                            <th class="anmeldelser-th-size">
                                Mest Populære Spil
                            </th>
                        </tr>
                    </thead>
                </table>
                <table class="nye-anmeldelser">
                    <tr>
                        <td class="Anmeldelse-pic-size">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                        </td>
                        <td style="padding:2%;">
                            <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Reviews" })">
                                <span class="anmeldse-title"> <strong>Splinter cell: blacklist</strong></span>
                            </a>
                            <p class="time-written-size"> oprettet: 6. Juni 2020</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="Anmeldelse-pic-size gray-bagrund">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                        </td>
                        <td style="padding:2%;" class=" gray-bagrund">
                            <a href="@Url.Action("Reviewgtav", null, new { area = string.Empty, controller = "Reviews" })">
                                <span class="anmeldse-title"> <strong>Grand Theft Auto V</strong></span>
                            </a>
                            <p class="time-written-size"> oprettet: 5. Juni 2020</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="Anmeldelse-pic-size">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                        </td>
                        <td style="padding:2%;">
                            <a href="@Url.Action("ReviewCallOfDuty", null, new { area = string.Empty, controller = "Reviews" })">
                                <span class="anmeldse-title"> <strong>Call Of Duty: Ghosts</strong></span>
                            </a>
                            <p class="time-written-size"> oprettet: 4. Juni 2020</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="Anmeldelse-pic-size gray-bagrund">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" />
                        </td>
                        <td style="padding:2%;" class="gray-bagrund">
                            <a href="@Url.Action("ReviewTitanfall", null, new { area = string.Empty, controller = "Reviews" })">
                                <span class="anmeldse-title"> <strong>Titanfall</strong></span>
                            </a>
                            <p class="time-written-size"> oprettet: 1. Juni 2020</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="Anmeldelse-pic-size">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                        </td>
                        <td style="padding:2%;">
                            <a href="@Url.Action("ReviewRedDeadRedemption", null, new { area = string.Empty, controller = "Reviews" })">
                                <span class="anmeldse-title"> <strong>Red Dead Redemption</strong></span>
                            </a>
                            <p class="time-written-size"> oprettet: 28. maj 2020</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="Anmeldelse-pic-size gray-bagrund">
                            <img src="~/Gamechanger billedmateriale/Thumbs/thumb_fifa_2014.jpg" />
                        </td>
                        <td style="padding:2%;" class="gray-bagrund">
                            <a href="@Url.Action("ReviewFifa14", null, new { area = string.Empty, controller = "Reviews" })">
                                <span class="anmeldse-title"> <strong>Fifa 14</strong></span>
                            </a>
                            <p class="time-written-size"> oprettet: 25. maj 2020</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>*@
        </div>
    </div>
</body>
</html>















