<!DOCTYPE html>

<html>
<head>
    <title>Spil</title>
    <link href="~/css/Reviews.css" rel="stylesheet" />
</head>
<body>

    <div class="top-baggrund-box"></div>

    <div class="center-box">
        <div>
            <table class="logo">
                <thead>
                    <tr>
                        <td>
                            <img class="gamechanger-logo" src="~/Gamechanger billedmateriale/Logo/logo.png" alt="GameChanger-logo" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_facebook.png" class="facebook" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_gplus.png" class="googleplus" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_twitter.png" class="twitter" />
                        </td>
                        <td class="social-size" align="right">
                            <img src="~/Gamechanger billedmateriale/Sociale ikoner/icon_youtube.png" class="youtube" />
                        </td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="center-overlap">
            <div class="white-space-around">
                <div class="info-side">
                    <table class="table">
                        <thead class="head-colum">
                            <tr>
                                <th class="arrow" style="vertical-align:middle;">
                                    <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                </th>
                                <th class="Anmeldelse-size">
                                    Anmeldelser
                                </th>
                                <th></th>
                            </tr>

                        </thead>
                    </table>
                    <div class="anmeldelse">
                        <img src="~/Gamechanger billedmateriale/Anmeldelser/titanfall.jpg" class="anmeldelse-picture" />

                        <h4 class="anmeldelse-title"><strong>Angrab med mechs og guns </strong></h4>
                        <p class="subtitle"> Anmeldelse af spillet Titanfall </p>
                        <p class="time-written-size"> oprettet: 1. Juni 2020</p>
                        <p class="maintext">

                            Maecenas eget velit at felis euismod tincidunt et sit amet purus. Vivamus odio ante, tristique at elementum ut,
                            pulvinar et lorem. Donec sollicitudin, dui a pharetra fringilla, metus quam mattis magna, ac pretium lacus libero nec arcu.
                            Sed elit orci, laoreet consectetur dictum at, eleifend non dui. Fusce pulvinar facilisis lectus et faucibus.
                            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris a sodales dui. Curabitur in ex augue.
                            Duis eget augue elit. Sed id ligula nec ante tincidunt luctus. Nunc dapibus nisl ut commodo scelerisque.
                            Mauris laoreet lectus ut nisl accumsan pretium. Cras purus elit, porttitor sed consectetur a, rhoncus sit amet mauris.
                            Nulla iaculis sodales turpis, a commodo tortor faucibus eget. Curabitur pharetra quam in metus eleifend, rhoncus suscipit mauris semper.
                            Pellentesque vehicula ex dignissim pellentesque sodales..<br /><br />

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a gravida diam, non pretium arcu. Maecenas aliquet lorem nibh, eu
                            consectetur turpis efficitur et. Duis malesuada enim a arcu feugiat porttitor eget volutpat elit.
                            Nam tincidunt rhoncus turpis sed auctor. Morbi eu turpis eget odio posuere pulvinar vitae vel massa.
                            Duis fringilla ut magna vel luctus. Sed sed egestas elit.
                            Sed et nunc erat.Aliquam eu pellentesque sapien.
                            <br /><br />

                            Fusce vel ligula sit amet turpis aliquet posuere ac sed neque.
                            Maecenas at lorem sagittis neque vulputate suscipit eget imperdiet nulla. Nam aliquam sem vitae malesuada convallis.
                            Nunc et commodo velit, sed iaculis odio. Cras nulla ipsum, venenatis pulvinar tincidunt id, pharetra id elit.
                            Curabitur vel diam ac nisl vulputate mattis in ut nisi. Mauris vehicula dignissim est vel maximus.
                            Maecenas ullamcorper sodales nisl at accumsan. Nulla volutpat ligula eu felis iaculis finibus.
                            Praesent ut nunc eu magna auctor rutrum. Phasellus risus dolor, tincidunt ut tempus auctor,
                            dapibus sit amet eros.Nullam felis turpis, pellentesque eget diam vitae,
                            faucibus molestie metus.

                        </p>
                    </div>
                                
                </div>

                <div class="new-anmeldelses-side">
                    <table class="table">
                        <thead class="head-colum">
                            <tr>
                                <th class="arrow" style="vertical-align:middle;">
                                    <img src="~/Gamechanger billedmateriale/Grafik/icon_titlebar.png" />
                                </th>
                                <th class="anmeldelser-th-size">
                                    Nye anmeldelser
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table class="nye-anmeldelser">
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_splintercell.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Reviews" })">
                                    <span class="anmeldse-title"> <strong>Splinter cell: blacklist</strong></span>
                                </a>
                                <p class="time-written-size"> oprettet: 6. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_gtav.jpg" />
                            </td>
                            <td style="padding:2%;" class=" gray-bagrund">
                                <a href="@Url.Action("Reviewgtav", null, new { area = string.Empty, controller = "Reviews" })">
                                    <span class="anmeldse-title"> <strong>Grand Theft Auto V</strong></span>
                                </a>
                                <p class="time-written-size"> oprettet: 5. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_call_of_duty.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <a href="@Url.Action("ReviewCallOfDuty", null, new { area = string.Empty, controller = "Reviews" })">
                                    <span class="anmeldse-title"> <strong>Call Of Duty: Ghosts</strong></span>
                                </a>
                                <p class="time-written-size"> oprettet: 4. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_titanfall.jpg" />
                            </td>
                            <td style="padding:2%;" class="gray-bagrund">
                                <a href="@Url.Action("ReviewTitanfall", null, new { area = string.Empty, controller = "Reviews" })">
                                    <span class="anmeldse-title"> <strong>Titanfall</strong></span>
                                </a>
                                <p class="time-written-size"> oprettet: 1. Juni 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_red_dead_redemption.jpg" />
                            </td>
                            <td style="padding:2%;">
                                <a href="@Url.Action("ReviewRedDeadRedemption", null, new { area = string.Empty, controller = "Reviews" })">
                                    <span class="anmeldse-title"> <strong>Red Dead Redemption</strong></span>
                                </a>
                                <p class="time-written-size"> oprettet: 28. maj 2020</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="Anmeldelse-pic-size gray-bagrund">
                                <img src="~/Gamechanger billedmateriale/Thumbs/thumb_fifa_2014.jpg" />
                            </td>
                            <td style="padding:2%;" class="gray-bagrund">
                                <a href="@Url.Action("ReviewFifa14", null, new { area = string.Empty, controller = "Reviews" })">
                                    <span class="anmeldse-title"> <strong>Fifa 14</strong></span>
                                </a>
                                <p class="time-written-size"> oprettet: 25. maj 2020</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>